services: 
  webserver:
    image: nginx
    container_name: loadbalancer
    restart: unless-stopped
    ports:
      - 80:80
    volumes:
      - ./backend/nginx.conf:/etc/nginx/nginx.conf:ro
  api:
    # image: oceradien/demo-api:latest
    # container_name: demo-api
    build: ./backend
    restart: unless-stopped
    env_file:
      - ./backend/.env
    depends_on:
      - database
    deploy:
      replicas: 2
  database:
    image: postgres:latest
    container_name: postgresSQL
    restart: unless-stopped
    ports:
      - "5432:5432"
    env_file:
      - .env
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    volumes:
      - ./backend/postgres_data:/var/lib/postgresql
  
  database_migration:
    build: ./backend
    depends_on:
      - database
    environment:
      - DATABASE_URL=${DATABASE_URL_DOCKER}
    command: ["bash", "-c" ,"sleep 10 && bunx drizzle-kit push"]
    restart: "no"